.container {
  padding-left: 60px;
  padding-right: 60px;
}
.bg__holder{
  max-width: 100vw;
}
.intro__bg{
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}
.bg__image{
  height: 100vh;
  width: 100%;
  object-fit: cover;
}
.lay_href_color{
  color: #5ba0ef;
  position: relative;
}