.container {
  padding-left: 60px;
  padding-right: 60px;
}
.container_left{
  padding-left: 60px;
}
.header_height{
  height: 100vh;
}
.navBar_desktop{
  display: block;
  margin-left: 20px;
}
.hamburger_icon_responsive{
  display: none;
}
.navBar_desktop_holder{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
/* .Typography:disabled{
  justify-content: space-between;
} */
.bg__holder{
  max-width: 100vw;
}
.intro__bg{
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}
.intro__bg2{
  height: 100%;
  right: 400px;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 0;
}
.grid_prsuto{
  grid-column-start: 6;
  grid-column-end: 13; 
}
.grid_prsuto_text_holder{
  margin-top: 50%;
  grid-column-start: 1;
  grid-column-end: 6; 
}

@keyframes float {
	0% {

		transform: translatey(0px);
	}
	50% {

		transform: translatey(-20px);
	}
	100% {
		
		transform: translatey(0px);
	}
}
.intro__olive{
  left: calc(80% - 100px);
    top: calc(80% - 100px);
    max-width: 711px;
    position: absolute;
    z-index: 1;


    transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}
.bg__image{
  height: 100vh;
  width: 100%;
  object-fit: cover;
}
.olive__image{
  height: 200px;
  width: 200px;
  object-fit: cover;
}
.fig__image{
  height: 200px;
  width: 200px;
  object-fit: cover;
}
.login_icon, .chart_icon{
  width: 20px;
  height: 20px;
}
.login_icon:hover, .chart_icon:hover{
  transition: .3s;
  opacity: .5;
}
.lay_href_color{
  color: #ef8a5b;
  position: relative;
  z-index: 9;
}
.intro_text_position{
  position: absolute;
  bottom: 60px;
}
.intro_text{
  position: relative;
  grid-column-start: 1;
  grid-column-end: 6;
}
.cta__full{
  position: relative;
  z-index: 2;
  padding: 6px 50px;
  font-weight: 600;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: .13em;
  border-radius: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  width: max-content;
  cursor: pointer;
  background-color: #2b46f2;
  transition: opacity .35s ease;
  color: #fff;
  border: 1px solid #1270a2;
}
.titile_txt{
  font-family: 'Gabriola';
  font-size: 50px;
  margin-bottom: -15px;
  line-height: 48px;
}
.titile_paragraph_txt{
  font-family: 'Gabriola';
  font-size: 26px;
}

.btn_header_pos{
  margin-top: 30px;
}
.div_flex{
  display: flex;
  flex-direction:row;
  justify-content: center;
}
.underline_animation{
  display: inline-block;
  position: relative;
  color: white;
}
.underline_animation:after{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  top: 25px;
  background-color: rgb(64, 112, 232);
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
}
.underline_animation:hover:after{
  transform: scaleX(1);
  /* transform-origin: bottom left; */
}

.full_width{
  margin-left: 15px;
}
.underline_animation.active::after{
  top: 25px;
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(1);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(64, 112, 232);
  transition: none;
}
.grid_prsuto_text_holder_mobile{
  display: none;
}
.wood_bg_img{
  width: 100%;
  height: 100%;
  object-fit: none;
  object-position: left bottom;
}
.bg_post_wood_img{
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.second_section_holder{
  position: relative;
}
.gallery {
  
  display: flex;
  overflow-x: scroll;

  scroll-snap-type: x mandatory;
}
.li {
  scroll-snap-align: center;
  display: inline-block;
  /* height: auto; */
  border-radius: 3px;

  margin-right: 3rem;
}
.elipse_holder{
  bottom: 460px;
  left: 235px;
}
.prsut_image_scroll{
  width: 200px;
}
.padding_li{
  padding-left: 20px;
}
/* Footer section*/
.footer_section_inner{
  background-color: rgb(30, 29, 29);
}
.footer__section_logo_holder{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 44px;
  font-family: 'inherit';
  padding-top: 20px;
  color: white;
}
.span_color{
  color: #2b46f2;
}
.grid_first_txt{
  grid-column-start: 1;
  grid-column-end: 3;
}
.grid_big_txt_custom{
  color: #8ba38d;
  margin-bottom: 20px;
  letter-spacing: .105em;
  text-transform: uppercase;
}
.grid_small_txt_custom{
  color: #8ba38d;
  font-size: 20px;
  margin-bottom: 10px;
  font-family: "Merriweather",serif;
}
.grid_small_txt_custom:hover{
  transition: .3s;
  color: #2b46f2;
}
.grid_second_txt{
  grid-column-start: 3;
  grid-column-end: 5;
}
.grid_third_txt{
  grid-column-start: 5;
  grid-column-end: 13;
}
.grid_footer_social{
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}
.grid_footer_logo_holder{
  margin-right: 20px;
}
.hover_socials:hover{
  transition: .3s;
  opacity: .1;
}
.copyright{
  color: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 15px;
  letter-spacing: .1rem;
}
.span_font_size{
  font-size: 40px;
}
.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 3s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}

.grid{
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  column-gap: 30px;
}
@media screen and (max-width: 800px){
  .grid{
    column-gap: 21px;
  }
  .container{
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media screen and (max-width: 500px){
  .grid{
    column-gap: 16px;
  }
}
@media screen and (max-width: 800px){
  .navBar_desktop{
    display: none;
  }
}
@media screen and (max-width: 800px){
  .hamburger_icon_responsive{
    display: block;
  }
}
@media screen and (max-width: 960px){
  .grid_prsuto{
    grid-column-start: 1;
    grid-column-end: 13; 
  }
  .grid_prsuto_text_holder{
    display: none;
  }
  .grid_prsuto_text_holder_mobile{
    display: block;
    grid-column-start: 1;
    grid-column-end: 13; 
    padding-right: 60px;
  }
}
@media screen and (max-width: 800px){
  .grid_firts_txt{
    grid-column-start: 1;
    grid-column-end: 6;
  }
  .grid_second_txt{
    grid-column-start: 6;
    grid-column-end: 13;
  }
  .grid_third_txt{
    grid-column-start: 1;
    grid-column-end: 13;
  }
}
@media screen and (max-width: 500px){
  .grid_firts_txt{
    grid-column-start: 1;
    grid-column-end: 13;
  }
  .grid_second_txt{
    grid-column-start: 1;
    grid-column-end: 13;
  }
  .grid_third_txt{
    grid-column-start: 1;
    grid-column-end: 13;
  }
}


