.shop_h1{
  display: flex;
  justify-content: center;
  text-align: center;
}
.cta__full3{
  position: relative;
  z-index: 2;
  padding: 6px 50px;
  font-weight: 600;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: .13em;
  border-radius: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  width: max-content;
  cursor: pointer;
  background-color: #000000;
  transition: opacity .35s ease;
  color: #fff;
  border: 1px solid #000000;
  transition: .3s;
}
.cta__full3:hover{
  background-color: #292929;
  border: 1px solid #292929;
}
.shop_grid_holder{
  grid-column: span 3;
}
.shop_element_holder{
  box-shadow: 2px black;
  width: 100%;
  margin-bottom: 140px;
}
.shop_box{
  box-shadow: 5px 5px 12px 5px rgb(59 59 59 / 50%);
  border-radius: 23px;
}
.shop_element_txt{
  margin-left: 20px;
}
.shop_element_btn{
  display: flex;
  text-align: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.shop_img_holder{
  width: 100%;
  padding-top: 128.65%;
  position: relative;
}
.shop_img_picture{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.shop_img_picture>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 23px 23px 0px 0px;
}
.h3_shop{
  Font-family: BioRhyme;
  Font-style: Bold;
  Font-size: 32px;
  Line-height: 36px;
  Line-height: 73%;
  text-align: Left;
}
.shop_bar_holder_holder{
  /* display: flex;
  align-items: center;
  text-align: center;
  justify-content: center; */
  width: 100%;
}
.shop_bar_holder{
  margin-bottom: 75px;
  margin-top: 160px;
  background-color: #F1F1F1;
  border-radius: 5px;
}
.shop_bar_element{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 97px;
}
.shop_bar_btn{
  margin-right: 15px;
  font-size: 20px;
  border: none;
  background: transparent;
  color: #B0976D;
  cursor: pointer;
}

.shop_bar_btn:focus{
  color: black;
}
.container{
  padding-left: 100px;
  padding-right: 100px;
}
.cart_bar, .cart_bar_2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cart_bar_2_1{
  margin-left: 60px;
}
.veliko{
  font-size: 80px;
  color: rgb(7, 219, 3);
}
.table{
  width: 100%;
}
.td, .th {
 
  text-align: left;
  padding: 8px;
  width: 100%;
}
.tr{
  border-bottom: 1px solid gray;
}
.td2{
  text-align: left;
  display: flex;
  align-items: center;
  margin-top: 40px;
}
.btnssss{
  color: blue;
  font-size: 20px;
  background: transparent;
  cursor: pointer;
  border: none;
}
.cart_prod_pos{
  padding-left: 44px;
}

.grid{
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  column-gap: 30px;
}
@media screen and (max-width: 800px){
  .grid{
    column-gap: 21px;
  }
  .container{
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media screen and (max-width: 500px){
  .grid{
    column-gap: 16px;
  }
}
@media screen and (max-width: 700px){
  .shop_grid_holder{
    grid-column: span 6;
  }
}
@media screen and (max-width: 500px){
  .shop_grid_holder{
    grid-column: span 13;
  }
}
@media screen and (max-width: 1000px){
  .cta__full3{
    padding: 6px 20px;
  }
}
@media screen and (max-width: 800px){
  .cta__full3{
    padding: 6px 30px;
  }
}
@media screen and (max-width: 500px){
  .cta__full3{
    padding: 6px 45px;
  }
}
/* ovo popravit */
.spinner_loader_4jLIt{
  margin: 5px;
  vertical-align: middle;
}