.SVG_section{
  margin-top: 40px;
}
.flex_holder_svg{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 40px;
}
.SVG_txt_holder{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  Font-family: 'BioRhyme';
  Font-style: 'Regular';
  Font-size: 36px;
  Line-height: 56px;
  Line-height: 100%;
  Vertical-align: Top;
  margin-bottom: 30px;
}
.container{
  padding-left: 100px;
  padding-right: 100px;
}
@media screen and (max-width: 800px){
  .container{
  padding-left: 30px;
  padding-right: 30px;
  }
}